body{
    width: 100%;
    height: 100vh;
    background-image: url("./imagenes/cine.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.container{
    width: 100%;
    position: relative;
    top: 20%;
}
table {
            width: 100%;
            border-collapse: collapse;
        }

        form {
            margin: 0;
        }
        .btnForm{
            width: 100%;
            height:100%;
        }

        button {
            all: unset;
        }
    